<app-menu-dropdown>
  <app-menu-name name="File">
    <app-menu-item (click)="openNewDocument()">New document</app-menu-item>
    <app-menu-item (click)="print()" iconName="print">Print</app-menu-item>
  </app-menu-name>
  <app-menu-name name="Insert">
    <app-menu-item (click)="insertLink()" iconSrc="/assets/link.svg">Link</app-menu-item>
    <app-menu-item (click)="insertLine()" iconSrc="/assets/line.svg">Line</app-menu-item>
    <app-menu-item (click)="insertImage()" iconSrc="/assets/image.svg">Image</app-menu-item>
  </app-menu-name>
  <app-menu-name name="Format">
    <app-menu-item>Headers</app-menu-item>
    <app-menu-item (click)="toggleBold()" iconSrc="/assets/bold.svg">Bold</app-menu-item>
    <app-menu-item (click)="toggleItalic()" iconSrc="/assets/italic.svg">Italics</app-menu-item>
    <app-menu-item (click)="toggleStrikethrough()" iconSrc="/assets/strikethrough.svg">Strikethrough</app-menu-item>
    <app-menu-item (click)="toggleList()">List</app-menu-item>
    <app-menu-item (click)="toggleCode()">Code</app-menu-item>
    <app-menu-item (click)="toggleQuote()">Quote</app-menu-item>
  </app-menu-name>
  <app-menu-name name="Help">
    <app-menu-item>About...</app-menu-item>
  </app-menu-name>
</app-menu-dropdown>
