<app-menu-dropdown>
  <app-menu-name name="File">
    <app-menu-item (click)="openNewDocument()">New document</app-menu-item>
    <app-menu-item (click)="print()" iconName="print">Print</app-menu-item>
  </app-menu-name>
  <app-menu-name name="Insert">
    <app-menu-item (click)="insertLink()" iconSrc="assets/link.svg">Link</app-menu-item>
    <app-menu-item (click)="insertLine()" iconSrc="assets/line.svg">Line</app-menu-item>
    <app-menu-item (click)="insertImage()" iconSrc="assets/image.svg">Image</app-menu-item>
  </app-menu-name>
  <app-menu-name name="Format">
    <app-menu-item (click)="toggleHeader()">Headers</app-menu-item>
    <app-menu-item (click)="toggleBold()" iconSrc="assets/bold.svg">Bold</app-menu-item>
    <app-menu-item (click)="toggleItalic()" iconSrc="assets/italic.svg">Italics</app-menu-item>
    <app-menu-item (click)="toggleStrikethrough()" iconSrc="assets/strikethrough.svg">Strikethrough</app-menu-item>
    <app-menu-item (click)="toggleList()" iconSrc="assets/listNumbered.svg">List</app-menu-item>
    <app-menu-item (click)="toggleCode()" iconSrc="assets/code.svg">Code</app-menu-item>
    <app-menu-item (click)="toggleQuote()" iconSrc="assets/quote.svg">Quote</app-menu-item>
  </app-menu-name>
  <app-menu-name name="Help">
    <app-menu-item (click)="aboutModal.isDisplay = true">About...</app-menu-item>
  </app-menu-name>
</app-menu-dropdown>
<app-modal #aboutModal title="About Markdown Editor" class="about">
  <h2>An online markdown editor where you can share a document using its URL.</h2>
  <p>
    <strong>Author: </strong>
    <a href="https://camolin3.github.io/" title="Personal web page">Carlos Molina Avendaño</a>
  </p>
  <p>
    <strong>Used libraries:</strong>
  </p>
  <ul>
    <li *ngFor="let lib of packages;">{{lib[0]}}  {{lib[1]}}</li>
  </ul>
  <p>Powered by Firebase. <em>With <3 from Chile.</em></p>
</app-modal>
