:host {
  cursor: pointer;
  min-width: max-content;
  padding: .31rem 1rem .44rem 2rem;
}
:host:hover {
  background-color: #eee;
}
:host::ng-deep span:first-child {
  color: #666;
  font-size: 1rem;
  left: 0.65rem;
  position: absolute;
}
