div {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  overflow-x: hidden;
}
main {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
}
output {
  font-family: Arial, Helvetica, sans-serif;
}
