<header [class.is-loaded]="loaded">
  <ion-icon name="logo-markdown" class="logo"></ion-icon>
  <input class="title" [(ngModel)]="title" (click)="onInputClicked($event)" (blur)="onInputBlur()" placeholder="Untitled document">
  <div class="menu">
    <app-menu></app-menu>
    <p title="All changes are saved on Firebase">{{lastModifiedAgo}}</p>
  </div>
  <div class="connected-users">
    <span *ngFor="let user of users; trackBy:user?.userId" [style.background-color]="user.color" [innerHTML]="user.alias" [title]="user.name"></span>
  </div>
</header>
<div class="workplace">
  <codemirror [config]="codemirrorConfig"></codemirror>
  <output [innerHTML]="resultString"></output>
</div>
