<header [class.is-loaded]="loaded">
  <span class="logo ion ion-logo-markdown"></span>
  <input class="title" [(ngModel)]="title" (click)="onInputClicked($event)" (blur)="onInputBlur()" placeholder="Untitled document">
  <div class="menu">
    <app-menu-dropdown>
      <app-menu-name name="File">
        <app-menu-item (click)="openNewDocument()">New document</app-menu-item>
        <app-menu-item (click)="print()"><span class="ion ion-md-print"></span>Print</app-menu-item>
      </app-menu-name>
      <app-menu-name name="Format">
        <app-menu-item>Headers</app-menu-item>
        <app-menu-item>Bold</app-menu-item>
        <app-menu-item>Italics</app-menu-item>
        <app-menu-item>Underline</app-menu-item>
        <app-menu-item>Strikethrough</app-menu-item>
        <app-menu-item>List</app-menu-item>
        <app-menu-item>Code</app-menu-item>
        <app-menu-item>Quote</app-menu-item>
      </app-menu-name>
      <app-menu-name name="Insert">
        <app-menu-item>Link...</app-menu-item>
        <app-menu-item>Line</app-menu-item>
        <app-menu-item>Image</app-menu-item>
      </app-menu-name>
      <app-menu-name name="Help">
        <app-menu-item>About...</app-menu-item>
      </app-menu-name>
    </app-menu-dropdown>
    <p title="All changes are saved on Firebase">{{lastModifiedAgo}}</p>
  </div>
  <div class="connected-users">
    <span *ngFor="let user of users; trackBy:user?.userId" [style.background-color]="user.color" [innerHTML]="user.alias" [title]="user.name"></span>
  </div>
</header>
<div class="workplace">
  <main
    ace-editor
    [mode]="'markdown'"
    [theme]="'eclipse'"
    [options]="options"
    ></main>
  <output [innerHTML]="resultString"></output>
</div>
