<header [class.is-loaded]="loaded">
  <span class="logo ion ion-logo-markdown"></span>
  <input class="title" [(ngModel)]="title" (click)="onInputClicked($event)" (blur)="onInputBlur()" placeholder="Untitled document">
  <div class="menu">
    <app-menu></app-menu>
    <p title="All changes are saved on Firebase">{{lastModifiedAgo}}</p>
  </div>
  <div class="connected-users">
    <span *ngFor="let user of users; trackBy:user?.userId" [style.background-color]="user.color" [innerHTML]="user.alias" [title]="user.name"></span>
  </div>
</header>
<div class="workplace">
  <main
    ace-editor
    [mode]="'markdown'"
    [theme]="'eclipse'"
    [options]="options"
    ></main>
  <output [innerHTML]="resultString"></output>
</div>
