div {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  overflow-x: hidden;
}
div > * {
  padding: 2em 1em;
}
output {
  background-color: #424242;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
output::ng-deep a {
  color: lightblue;
}
