:host {
  align-items: center;
  background-color: #4444;
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}
:host(.is-display) {
  display: flex;
}
section {
  background-color: white;
  height: 61.7vh;
  overflow: scroll;
  width: 61.7vw;
}
section > header {
  background-color: inherit;
  border-bottom: 1pt solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  width: inherit;
}
section > header > h1 {
  font-size: 1.2rem;
  font-weight: normal;
}
section > main {
  margin-top: 4rem;
  padding: 0 2rem 1rem;
}
