/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.emoji {
  filter: drop-shadow(0 0 0.15pt black);
  height: 1em;
  position: relative;
  top: .125em;
}
